<div class="tableWrapper dropdown visible">
    <div class="title">
        <div class="chevron">
            <span></span>
            <span></span>
        </div>
        <p>
            Algemeen
        </p>
        <div class="actions">
            <label class="button grey" data-action="edit">
                Bewerken
            </label>
        </div>
    </div>

    <table>
        <tbody id="client-personal-data">
        </tbody>
    </table>
</div>

<div class="tableWrapper dropdown">
    <div class="title">
        <div class="chevron right">
            <span></span>
            <span></span>
        </div>
        <p>
            Contact
        </p>
        <div class="actions">
            <label class="button grey" data-action="edit">
                Bewerken
            </label>
        </div>
    </div>

    <table>
        <tbody id="client-contact-data">
        </tbody>
    </table>
</div>

<div class="tableWrapper dropdown">
    <div class="title">
        <div class="chevron right">
            <span></span>
            <span></span>
        </div>
        <p>
            Behandeling
        </p>
        <div class="actions">
            <label class="button grey" data-action="edit">
                Bewerken
            </label>
        </div>
    </div>

    <table>
        <tbody id="client-therapy-data">
        </tbody>
    </table>
</div>

<div class="tableWrapper dropdown">
    <div class="title">
        <div class="chevron right">
            <span></span>
            <span></span>
        </div>
        <p>
            Financieel
        </p>
        <div class="actions">
            <label class="button grey" data-action="edit">
                Bewerken
            </label>
        </div>
    </div>

    <table>
        <tbody id="client-finance-data">
        </tbody>
    </table>
</div>

<script>
    var clients = require('../js/clients.js')


    clients.data(window.actionData.parameters.client)
</script>