<div class="tableWrapper dropdown visible">
    <div class="title">
        <div class="chevron">
            <span></span>
            <span></span>
        </div>
        <p>
            Algemeen
        </p>
        <div class="actions">
            <a class="button grey">
                Bewerken
            </a>
        </div>
    </div>

    <table>
        <tbody>
            <tr>
                <td class="maxContent">Naam</td>
                <td>John "Mad" doe</td>
            </tr>
            <tr>
                <td class="maxContent">Geboortedatum</td>
                <td>02/06/1987</td>
            </tr>
            <tr>
                <td class="maxContent">BSN-Nummer</td>
                <td>123.456.789</td>
            </tr>
            <tr>
                <td class="maxContent">Beroep</td>
                <td>Timmerman</td>
            </tr>
            <tr>
                <td class="maxContent">Huisarts</td>
                <td>A.J. Smith</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="tableWrapper dropdown">
    <div class="title">
        <div class="chevron right">
            <span></span>
            <span></span>
        </div>
        <p>
            Contact
        </p>
        <div class="actions">
            <a class="button grey">
                Bewerken
            </a>
        </div>
    </div>

    <table>
        <tbody>
            <tr>
                <td class="maxContent">E-mailadres</td>
                <td>j.doe@internet.usa</td>
            </tr>
            <tr>
                <td class="maxContent">Telefoonnummer</td>
                <td>+31 (0) 6 22 85 48 00</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="tableWrapper dropdown">
    <div class="title">
        <div class="chevron right">
            <span></span>
            <span></span>
        </div>
        <p>
            Behandeling
        </p>
        <div class="actions">
            <a class="button grey">
                Bewerken
            </a>
        </div>
    </div>

    <table>
        <tbody>
            <tr>
                <td class="maxContent">Sessies</td>
                <td>05 / 75</td>
            </tr>
            <tr>
                <td class="maxContent">Traject</td>
                <td>Basis | Intentsief</td>
            </tr>
            <tr>
                <td class="maxContent">Hoofdbehandelaar</td>
                <td>Alex</td>
            </tr>
            <tr>
                <td class="maxContent">Status</td>
                <td>Actief</td>
            </tr>
            <tr>
                <td class="maxContent">Hoofddiagnose</td>
                <td>PTSS</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="tableWrapper dropdown">
    <div class="title">
        <div class="chevron right">
            <span></span>
            <span></span>
        </div>
        <p>
            Financieel
        </p>
        <div class="actions">
            <a class="button grey">
                Bewerken
            </a>
        </div>
    </div>

    <table>
        <tbody>
            <tr>
                <td class="maxContent">Verzekeraar</td>
                <td>CZ</td>
            </tr>
            <tr>
                <td class="maxContent">Polisnummer</td>
                <td>123.456.789</td>
            </tr>
            <tr>
                <td class="maxContent">UZOVI-nummer</td>
                <td>123.456.789</td>
            </tr>
            <tr>
                <td class="maxContent">Factuurplan</td>
                <td>Standaard</td>
            </tr>
        </tbody>
    </table>
</div>