* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: rgb(65, 125, 214);
    --blue-dark: rgb(57, 112, 191);
    --white: rgb(255, 255, 255);
    --white-tranparent: rgba(255, 255, 255, 0.1);
    --grey-lightest: rgb(250, 250, 250);
    --grey-lighter: rgb(240, 240, 240);
    --grey-light: rgb(220, 220, 220);
    --grey: rgb(180, 180, 180);
    --grey-dark: rgb(112, 112, 112);
    --shadow: rgba(0, 0, 0, 0.16);
    --orange: rgb(232, 183, 114);
    --orange-dark: rgb(209, 166, 103);
    --red: rgb(166, 61, 64);
    --green: rgb(144, 169, 89);
}

p, a, label, h1, h2, h3, td, input, select {
    font-family: OpenSans;
    color: var(--grey-dark);
    font-size: 16px;
    font-weight: 400;
}

a {
    text-decoration: none;
    outline: none;
}

h1 {
    font-family: OpenSans;
    font-size: 47px;
    font-weight: 100;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 19px;
}

.icon {
    font-family: Icons;
    font-size: 15px;
}

span.red, .typeNumbers span.red {
    color: var(--red);
}

span.green, .typeNumbers span.green {
    color: var(--green);
}

span.blue, .typeNumbers span.blue {
    color: var(--blue);
}

span.orange, .typeNumbers span.orange {
    color: var(--orange);
}

.tableWrapper {
    width: 100%;
    border-bottom: 16px solid var(--grey-lighter);
    border-radius: 16px;
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 40px;
}

table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
}

table thead {
    background-color: var(--grey-lighter);
}

table thead tr td, table tbody tr td {
    padding: 9px 20px;
}

table tbody tr {
    transition: background-color 0.2s;
}

table tbody tr:hover {
    background-color: var(--grey-lightest);
}

table tbody tr td {
    border-bottom: 1px solid var(--grey-lighter);
}

table tbody tr:last-child td {
    border-bottom: none;
}

table tr td:first-child {
    padding-left: 40px;
}

table tr td:last-child {
    padding-right: 40px;
}

table tr td.maxContent {
    width: 1%;
    white-space: nowrap;
}

table tr.edit td {
    border-left: 1px solid var(--grey-lighter);
}

table tr td.input label, table tr td.input input, table tr td.input select {
    display: block;
    width: 100%;
}

table tr td.input {
    vertical-align: top;
}

table tr td.input label {
    padding-bottom: 9px;
}

table tr td.description {
    color: var(--grey);
}

table tr td.actions {
    border-left: none;
}

table.actionTable tbody tr {
    cursor: pointer;
}

table.menuTable {
    table-layout: auto;
    margin-bottom: 40px;
}

table.menuTable thead {
    background: none;
}

table.menuTable .icon {
    font-size: 30px;
}

table.menuTable thead tr td {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    grid-gap: 20px;
    font-size: 19px;
    padding-bottom: 29px;
}

table.menuTable tbody {
    border-radius: 15px;
    box-shadow: 0px 1px 1px var(--shadow);
}

table.menuTable tbody tr:nth-child(odd) {
    background-color: var(--grey-lightest);
}

table.menuTable tbody tr:nth-child(odd):hover {
    background-color: var(--grey-lighter);
}

table.menuTable tbody tr td:last-child {
    color: var(--grey);
}

table.menuTable tbody tr:first-child td:first-child {
    border-radius: 15px 0px 0px 0px;
}

table.menuTable tbody tr:first-child td:last-child {
    border-radius: 0px 15px 0px 0px;
}

table.menuTable tbody tr:last-child td:first-child {
    border-radius: 0px 0px 0px 15px;
}

table.menuTable tbody tr:last-child td:last-child {
    border-radius: 0px 0px 15px 0px;
}

table.listTable tr td {
    border-bottom: none;
}

table.listTable tr td:first-child {
    font-weight: bold;
    padding: 5px 20px 5px 0px;
    width: 1%;
    white-space: nowrap;
}

table.listTable tr td:last-child {
    padding: 5px 20px 5px 20px;
}

.tableWrapper .toolbar {
    height: initial;
    width: 100%;
    background-color: var(--white);
    padding: 9px 40px;
    border-top: 1px solid var(--grey-lighter);
}

.tableWrapper.dropdown {
    border-radius: 15px;
    box-shadow: 0px 1px 1px var(--shadow);
    border-bottom: none;
}

.tableWrapper.dropdown table, .tableWrapper.dropdown .toolbar, .tableWrapper.dropdown .inputGrid {
    display: none;
    table-layout: auto;
}

.tableWrapper.dropdown.visible table, .tableWrapper.dropdown.visible .toolbar {
    display: table;
}

.tableWrapper.dropdown.visible .inputGrid {
    display: grid;
}

.tableWrapper.dropdown > .title {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    background-color: var(--blue);
    padding: 0px 40px;
    height: 40px;
    cursor: pointer;
    position: sticky;
    left: 0;
    top: 0;
}

.tableWrapper.dropdown > .title .actions .section {
    margin-left: 20px;
    border-left: 1px solid var(--grey-light);
    float: left;
}

.tableWrapper.dropdown > .title .actions .section:first-child {
    margin-left: 0px;
    border-left: none;
}

.tableWrapper.dropdown > .title .actions .button {
    float: left;
    margin-left: 20px;
}

.tableWrapper.dropdown table thead {
    background-color: var(--blue-dark);
}

.tableWrapper.dropdown table thead tr td {
    color: var(--white);
}

.tableWrapper.dropdown > .title p {
    color: var(--white);
}

.tableWrapper.dropdown > .title .actions {
    justify-self: end;
}

.tableWrapper.dropdown.orange > .title {
    background: var(--orange);
}

.tableWrapper.dropdown.orange table thead {
    background-color: var(--orange-dark);
}

.inputGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 40px;
    grid-gap: 20px;
}

.inputGrid > * {
    padding-right: 20px;
}

.inputGrid .input {
    padding-bottom: 5px;
}

.inputGrid .input.wide {
    grid-column: span 2;
}

.inputGrid .input input, .inputGrid .input select, .inputGrid .input textarea { 
    width: 100%;
    position: relative;
    z-index: 1;
}

.inputGrid .input textarea {
    resize: vertical;
}

.inputGrid .input > .title {
    display: grid;
    grid-template-columns: 1fr max-content;
    padding-bottom: 9px;
    align-items: center;
}

.inputGrid .input > .title .actions {
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s;
}

.inputGrid .input > .title .actions > * {
    margin-left: 20px;
}

.inputGrid .input:hover > .title .actions {
    opacity: 1;
    pointer-events: all;
}

.inputGrid .input > .title .actions input[type="checkbox"] + label::before {
    margin-right: 0;
}

.inputGrid .input .description {
    border-radius: 0px 0px 15px 15px;
    padding: 0 20px;
    background-color: var(--grey-lighter);
    margin-top: -15px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s;
}

.inputGrid .input .description.visible {
    max-height: 105px;
    padding: 19px 20px 6px 20px;
}

.inputGrid .data {
    grid-column: 1 / 5;
}

@media only screen and (max-width: 1550px) {
    .inputGrid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 1200px) {
    .inputGrid {
        grid-template-columns: 1fr 1fr;
    }
}


header {
    height: 90px;
    width: 100%;
    position: relative;
    position: sticky;
    top: 0;
}

header nav {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-gap: 40px;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: var(--blue);
    padding: 0px 40px;
}

header nav a {
    color: var(--white);
}

header nav .tabbar {
    align-self: flex-end;
}

header nav .userMenu {
    display: grid;
    align-items: center;
    grid-template-columns: max-content max-content;
    grid-gap: 20px;
}

main #mainContent {
    padding: 40px;
    height: calc(100vh - 120px);
    overflow-y: scroll;
}

.toolbar {
    display: grid;
    grid-template-columns: minmax(max-content, 1fr) max-content minmax(max-content, 1fr);
    grid-gap: 40px;
    height: 40px;
    width: 100%;
    background: var(--grey-lightest);
    box-shadow: 0px 1px 1px var(--shadow);
    padding: 5px 40px;
}

.toolbar > * {
    animation: fadeIn 0.1s;
}

.toolbar.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0px -1px 1px var(--shadow);
}

.toolbar.inline {
    margin-bottom: 40px;
    padding: 0;
    height: initial;
}

.toolbar.transparent {
    background: none;
    box-shadow: none;
}

.toolbar .center {
    justify-self: center;
}

.toolbar .left {
    justify-self: start;
}

.toolbar .right {
    justify-self: end;
}

.toolbar .right > *, .toolbar .right section > * {
    float: left;
}

.toolbar .right section {
    border-left: 1px solid var(--grey-light);
    margin-left: 20px;
}

.toolbar .right section:first-of-type {
    border-left: none;
    margin-left: 0;
}

.toolbar .left>div, .toolbar .left input, .toolbar .left select {
    margin-right: 20px;
}

.toolbar .right>div, .toolbar .right input, .toolbar .right select {
    margin-left: 20px;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.tabbar a {
    display: inline-block;
    padding: 9px 10px;
    border-radius: 4px 4px 0px 0px;
    transition: background-color 0.2s;
}

.tabbar a.current {
    background-color: var(--grey-lightest);
    padding: 9px 20px;
    color: var(--blue);
    box-shadow: 0px -1px 2px var(--shadow);
}

.tabbar a:hover {
    background-color: var(--white-tranparent);
}

.tabbar a.current:hover {
    background-color: var(--white);
}

.mainInfoBlocks {
    display: grid;
    grid-template-columns: minmax(max-content, 1fr) minmax(max-content, 1fr) minmax(max-content, 1fr);
    grid-gap: 40px;
    width: 100%;
    margin-bottom: 40px;
    overflow: auto;
    grid-auto-flow: dense;
}

.mainInfoBlocks .block {
    display: flex;
    justify-content: center;
    background-color: white;
    border: 1px solid var(--grey-light);
    border-radius: 15px;
    padding: 20px 40px;
    height: 110px;
}

.mainInfoBlocks .block h1 {
    width: 100%;
    text-align: center;
}

.mainInfoBlocks .block .info {
    display: inline-block;
    margin-right: 80px;
    text-align: center;
}

.mainInfoBlocks .block .info:last-child {
    margin-right: 0px;
}

.mainInfoBlocks .block .info .icon {
    display: block;
    font-size: 33px;
    color: var(--grey-dark);
    padding-bottom: 9px;
}

.mainInfoBlocks .profileBlock {
    display: grid;
    grid-template-columns: 110px 1fr;
    border-radius: 55px 15px 15px 55px;
}

.mainInfoBlocks .profileBlock .avatar {
    height: 110px;
    width: 110px;
    margin: -21px 0px -21px -41px;
    background-size: cover;
    background-position: center;
    border: 1px solid var(--grey-light)
}

@media only screen and (max-width: 1550px) {
    .mainInfoBlocks {
        display: grid;
        grid-template-columns: minmax(max-content, 1fr) minmax(max-content, 1fr);
        grid-gap: 40px;
        width: 100%;
        margin-bottom: 40px;
        overflow: auto;
    }

    .mainInfoBlocks .block.wide {
        grid-column: 1 / 3;
    }
}

@media only screen and (max-width: 1200px) {
    .mainInfoBlocks {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 40px;
        width: 100%;
        margin-bottom: 40px;
        overflow: auto;
    }

    .mainInfoBlocks .block.wide {
        grid-column: 1 / 2;
    }
}

.typeNumbers {
    display: inline;
    background: linear-gradient(to bottom, var(--white), var(--grey-lightest));
    border-radius: 15px;
    padding: 4px 16px;
}

.typeNumbers span {
    color: var(--grey-dark);
    padding: 4px
}

.switch {
    border-radius: 15px;
    background-color: white;
    float: left;
}

.switch a {
    display: block;
    padding: 3px 20px;
    border-top: 1px solid var(--grey-light);
    border-left: 1px solid var(--grey-light);
    border-bottom: 1px solid var(--grey-light);
    transition: all 0.2s;
    float: left;
}

.switch a:hover {
    background-color: var(--grey-lightest);
}

.switch a.current {
    background: var(--blue);
    border: none;
    color: var(--white);
    border: 1px solid var(--blue-dark);
}

.switch a:first-child {
    border-radius: 15px 0px 0px 15px;
}

.switch a:last-child {
    border-radius: 0px 15px 15px 0px;
    border-right: 1px solid var(--grey-light);
}

.avatar {
    height: 30px;
    width: 30px;
    border: 1px solid var(--white);
    border-radius: 50%;
    background-size: cover;
    background-position: 50%;
}

select {
    border-radius: 15px;
    padding: 2px 20px;
    border: 1px solid var(--grey-light);
    outline: none;
}

select.placeHolder {
    color: var(--grey-light);
}

select option {
    color: var(--grey-dark);
}

.chevron {
    position: relative;
    height: 10px;
    width: 20px;
    transition: transform 0.2s;
}

.chevron.left {
    transform: rotate(90deg);
}

.chevron.right {
    transform: rotate(-90deg);
}

.chevron.up {
    transform: rotate(180deg);
}

.chevron span {
    display: block;
    position: absolute;
    background-color: var(--white);
    height: 2px;
    width: 12px;
    border-radius: 1px;
    top: 50%;
    transition: transform 0.2s;
}

.chevron span:first-child {
    transform: translateY(-50%) rotate(45deg);
    left: 0;
}

.chevron span:last-child {
    transform: translateY(-50%) rotate(-45deg);
    right: 0;
}

.chevron.clicked span:first-child {
    transform: translateY(-50%) rotate(-45deg);
}

.chevron.clicked span:last-child {
    transform: translateY(-50%) rotate(45deg);
}

.cross {
    display: inline-block;
    height: 15px;
    width: 15px;
    position: relative;
    cursor: pointer;
}

.cross span {
    display: block;
    position: absolute;
    background-color: var(--grey-dark);
    height: 2px;
    width: 18px;
    top: 50%;
    left: 50%;
    border-radius: 1px;
}

.cross span:first-child {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.cross span:last-child {
    transform: translate(-50%, -50%) rotate(45deg);
}

.cross:hover span {
    background-color: var(--red);
    
}

.plus {
    display: inline-block;
    height: 15px;
    width: 15px;
    position: relative;
    cursor: pointer;
}

.plus span {
    display: block;
    position: absolute;
    background-color: var(--grey-dark);
    height: 2px;
    width: 15px;
    top: 50%;
    left: 50%;
    border-radius: 1px;
}

.plus span:first-child {
    transform: translate(-50%, -50%);
}

.plus span:last-child {
    transform: translate(-50%, -50%) rotate(90deg);
}

.button {
    display: inline-block;
    min-height: 30px;
    min-width: 30px;
    border-radius: 15px;
    padding: 2px 20px;
    background-color: var(--blue);
    color: var(--white);
    border: 1px solid var(--blue-dark); 
}

.button:hover {
    background: var(--blue-dark);
}

.button.square, .button.circle, .button.grey.circle, .button.grey.square {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 30px;
    max-width: 30px;
}

.button.grey {
    background: linear-gradient(to bottom, var(--white), var(--grey-lightest));
    color: var(--grey-dark);
    border: 1px solid var(--grey-light);
    padding: 3px 20px 1px 20px;
}

.button.grey:hover {
    background: var(--grey-lighter);
}

.button .icon {
    color: var(--white);
    filter: drop-shadow(0px 3px 6px var(--shadow));
}

.button.grey .icon {
    color: var(--grey-dark);
}

.button.grey .icon.red {
    color: var(--red);
}

.button.grey .chevron span {
    background-color: var(--grey-dark);
}

.button .chevron {
    filter: drop-shadow(0px 3px 6px var(--shadow));
}

.sectionNavButton {
    display: grid;
    grid-template-columns: 30px 1fr;
}

.sectionNavButton .button {
    border-radius: 15px 0px 0px 15px;
}

.sectionNavButton label {
    display: inline-block;
    padding: 2px 20px;
    border-radius: 0px 15px 15px 0px;
    background-color: var(--white);
    border: 1px solid var(--grey-light);
    cursor: pointer;
}

input {
    outline: none;
    border: 1px solid var(--grey-light);
    border-radius: 15px;
    background-color: white;
}

input[type="text"], input[type="date"], textarea {
    height: 30px;
    padding: 4px 20px;
    font-family: OpenSans;
    font-size: 16px;
    color: var(--grey-dark)
}

textarea {
    outline: none;
    border: 1px solid var(--grey-light);
    border-radius: 15px;
    background-color: white;
    min-height: 120px;
    width: 100%;
    min-width: 215px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    display: flex;
    align-items: center;
}

input[type="checkbox"] + label::before {
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    background-color: var(--white);
    border-radius: 4px;
    border: 1px solid var(--grey-light);
    transition: all 0.2s;
    font-family: Icons;
    font-size: 13px;
    margin-right: 10px;
}

input[type="checkbox"]:checked + label::before {
    background-color: var(--grey-lightest);
    content: '\e908';
    color: var(--green);
}

::placeholder {
    color: var(--grey);
    font-style: italic;
}

.buttonInput {
    display: grid;
    grid-template-columns: 1fr max-content;
}

.buttonInput input {
    border-radius: 15px 0px 0px 15px;
    max-width: 180px;
}

.buttonInput .button {
    border-radius: 0px 15px 15px 0px;
    padding: 0;
    max-height: 30px;
}

.pager {
    display: grid;
    grid-template-columns: 30px max-content 30px;
    border-radius: 15px;
}

.pager .button {
    border-radius: 0;
    min-height: initial;
}

.pager .button:first-child {
    border-radius: 15px 0px 0px 15px;
}

.pager .button:last-child {
    border-radius: 0px 15px 15px 0px;
}

/* window styles */

.titlebar, .titlebar > * {
    font-family: OpenSans;
    font-weight: 400;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Light.woff);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Italic.woff);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Bold.woff);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Icons;
    src: url(../fonts/Icons.woff);
}