* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: rgb(65, 125, 214);
    --blue-dark: rgb(57, 112, 191);
    --white: rgb(255, 255, 255);
    --white-tranparent: rgba(255, 255, 255, 0.1);
    --grey-lightest: rgb(250, 250, 250);
    --grey-lighter: rgb(240, 240, 240);
    --grey-light: rgb(220, 220, 220);
    --grey: rgb(180, 180, 180);
    --grey-dark: rgb(112, 112, 112);
    --shadow: rgba(0, 0, 0, 0.16);
    --orange: rgb(232, 183, 114);
    --orange-dark: rgb(209, 166, 103);
}

p, a, label, h1, h2, h3, td, input, select {
    font-family: OpenSans;
    color: var(--grey-dark);
    font-size: 16px;
    font-weight: 400;
}

a {
    text-decoration: none;
    outline: none;
}

h1 {
    font-family: OpenSans;
    font-size: 47px;
    font-weight: 100;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 19px;
}

.icon {
    font-family: Icons;
    font-size: 15px;
}

.tableWrapper {
    width: 100%;
    border-bottom: 16px solid var(--grey-lighter);
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 40px;
}

table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
}

table thead {
    background-color: var(--grey-lighter);
}

table thead tr td, table tbody tr td {
    padding: 9px 20px;
}

table tbody tr td {
    border-bottom: 1px solid var(--grey-lighter);
}

table tbody tr:last-child td {
    border-bottom: none;
}

table tr td:first-child {
    padding-left: 40px;
}

table tr td:last-child {
    padding-right: 40px;
}

table.menuTable {
    table-layout: auto;
    margin-bottom: 40px;
}

table.menuTable thead {
    background: none;
}

table.menuTable .icon {
    font-size: 30px;
}

table.menuTable thead tr td {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    grid-gap: 20px;
    font-size: 19px;
    padding-bottom: 29px;
}

table.menuTable tbody {
    border-radius: 15px;
    box-shadow: 0px 1px 1px var(--shadow);
}

table.menuTable tbody tr:nth-child(odd) {
    background-color: var(--grey-lightest);
}

table.menuTable tbody tr td:last-child {
    color: var(--grey);
}

table.menuTable tbody tr:first-child td:first-child {
    border-radius: 15px 0px 0px 0px;
}

table.menuTable tbody tr:first-child td:last-child {
    border-radius: 0px 15px 0px 0px;
}

table.menuTable tbody tr:last-child td:first-child {
    border-radius: 0px 0px 0px 15px;
}

table.menuTable tbody tr:last-child td:last-child {
    border-radius: 0px 0px 15px 0px;
}

.tableWrapper.dropdown {
    border-radius: 15px;
    box-shadow: 0px 1px 1px var(--shadow);
    border-bottom: none;
}

.tableWrapper.dropdown table {
    table-layout: auto;
}

.tableWrapper.dropdown .title {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    background: linear-gradient(to bottom, var(--blue), var(--blue-dark));
    padding: 9px 40px;
    cursor: pointer;
}

.tableWrapper.dropdown .title p {
    color: var(--white);
}

.tableWrapper.dropdown .title .actions {
    justify-self: end;
}

.tableWrapper.dropdown .title.orange {
    background: linear-gradient(to bottom, var(--orange), var(--orange-dark));
}

.tableWrapper.dropdown.visible table {
    display: table;
}

.tableWrapper.dropdown table {
    display: none;
}

.tableWrapper.dropdown table tr td.maxContent {
    width: 1%;
}

header {
    height: 100px;
    width: 100%;
    position: relative;
    position: sticky;
    top: 0;
}

header nav {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    grid-gap: 40px;
    align-items: center;
    height: 60px;
    width: 100%;
    background: linear-gradient(to bottom, var(--blue), var(--blue-dark));
    padding: 0px 40px;
}

header nav a {
    color: var(--white);
}

header nav .logo {
    box-shadow: 0px 1px 1px var(--shadow);
}

header nav .tabbar {
    align-self: flex-end;
}

header nav .userMenu {
    display: grid;
    align-items: center;
    grid-template-columns: max-content max-content;
    grid-gap: 20px;
}

main #mainContent {
    padding: 40px;
    min-height: calc(100vh - 100px);
}

.toolbar {
    display: grid;
    grid-template-columns: minmax(max-content, 1fr) max-content minmax(max-content, 1fr);
    grid-gap: 40px;
    height: 40px;
    width: 100%;
    background: linear-gradient(to bottom, var(--white), var(--grey-lightest));
    box-shadow: 0px 1px 1px var(--shadow);
    padding: 5px 40px;
}

.toolbar.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0px -1px 1px var(--shadow);
}

.toolbar .center {
    justify-self: center;
}

.toolbar .left {
    justify-self: start;
}

.toolbar .right {
    justify-self: end;
}

.toolbar .right > *, .toolbar .right section > * {
    float: left;
}

.toolbar .right section {
    border-left: 1px solid var(--grey-light);
    margin-left: 20px;
}

.toolbar .right section:first-of-type {
    border-left: none;
    margin-left: 0;
}

.toolbar .left>div, .toolbar .left input, .toolbar .left select {
    margin-right: 20px;
}

.toolbar .right>div, .toolbar .right input, .toolbar .right select {
    margin-left: 20px;
}

.tabbar a {
    display: inline-block;
    padding: 9px 10px;
    border-radius: 4px 4px 0px 0px;
    transition: background-color 0.2s;
}

.tabbar a.current {
    background-color: var(--white);
    padding: 9px 20px;
    color: var(--blue);
    box-shadow: 0px -1px 2px var(--shadow);
}

.tabbar a:hover {
    background-color: var(--white-tranparent);
}

.tabbar a.current:hover {
    background-color: var(--white);
}

.switch {
    border-radius: 15px;
    background-color: white;
    border: 1px solid var(--grey-light);
    float: left;
}

.mainInfoBlocks {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    grid-gap: 40px;
    width: 100%;
    margin-bottom: 40px;
    overflow: auto;
}

.mainInfoBlocks .block {
    background-color: white;
    border: 1px solid var(--grey-light);
    border-radius: 15px;
    padding: 20px 40px;
}

.mainInfoBlocks .block h1 {
    width: 100%;
    text-align: center;
}

.mainInfoBlocks .block .info {
    display: inline-block;
    margin-right: 80px;
    text-align: center;
}

.mainInfoBlocks .block .info:last-child {
    margin-right: 0px;
}

.mainInfoBlocks .block .info .icon {
    display: block;
    font-size: 33px;
    color: var(--grey-dark);
    padding-bottom: 9px;
}

.switch a {
    display: block;
    padding: 2px 20px;
    border-left: 1px solid var(--grey-light);
    transition: all 0.2s;
    float: left;
}

.switch a:hover {
    background-color: var(--grey-lightest);
}

.switch a.current {
    background: linear-gradient(to bottom, var(--blue), var(--blue-dark));
    border: none;
    color: var(--white);
}

.switch a:first-child {
    border-radius: 15px 0px 0px 15px;
}

.switch a:last-child {
    border-radius: 0px 15px 15px 0px;
}

.avatar {
    height: 40px;
    width: 40px;
    border: 2px solid var(--white);
    border-radius: 50%;
    background-size: cover;
    background-position: 50%;
}

select {
    border-radius: 15px;
    padding: 2px 20px;
    border: 1px solid var(--grey-light);
    outline: none;
}

select.placeHolder {
    color: var(--grey-light);
}

select option {
    color: var(--grey-dark);
}

.chevron {
    position: relative;
    height: 10px;
    width: 20px;
    transition: transform 0.2s;
}

.chevron.left {
    transform: rotate(90deg);
}

.chevron.right {
    transform: rotate(-90deg);
}

.chevron span {
    display: block;
    position: absolute;
    background-color: var(--white);
    height: 2px;
    width: 12px;
    border-radius: 1px;
    top: 50%;
    transition: transform 0.2s;
}

.chevron span:first-child {
    transform: translateY(-50%) rotate(45deg);
    left: 0;
}

.chevron span:last-child {
    transform: translateY(-50%) rotate(-45deg);
    right: 0;
}

.chevron.clicked span:first-child {
    transform: translateY(-50%) rotate(-45deg);
}

.chevron.clicked span:last-child {
    transform: translateY(-50%) rotate(45deg);
}

.cross {
    display: inline-block;
    height: 15px;
    width: 15px;
    position: relative;
}

.cross span {
    display: block;
    position: absolute;
    background-color: var(--grey-dark);
    height: 2px;
    width: 18px;
    top: 50%;
    left: 50%;
}

.cross span:first-child {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.cross span:last-child {
    transform: translate(-50%, -50%) rotate(45deg);
}

.button {
    min-height: 30px;
    min-width: 30px;
    border-radius: 15px;
    padding: 4px 20px;
    background: linear-gradient(to bottom, var(--blue), var(--blue-dark));
    color: var(--white);
}

.button.square, .button.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    max-height: 30px;
    max-width: 30px;
}

.button.grey {
    background: linear-gradient(to bottom, var(--white), var(--grey-lightest));
    color: var(--grey-dark)
}

.button .icon {
    color: var(--white);
    filter: drop-shadow(0px 3px 6px var(--shadow));
}

.button .chevron {
    filter: drop-shadow(0px 3px 6px var(--shadow));
}

.sectionNavButton {
    display: grid;
    grid-template-columns: 30px 1fr;
}

.sectionNavButton .button {
    border-radius: 15px 0px 0px 15px;
}

.sectionNavButton label {
    display: inline-block;
    padding: 2px 20px;
    border-radius: 0px 15px 15px 0px;
    background-color: var(--white);
    border: 1px solid var(--grey-light);
    cursor: pointer;
}

input {
    outline: none;
    border: 1px solid var(--grey-light);
    border-radius: 15px;
    background-color: white;
}

input[type="text"] {
    height: 30px;
    padding: 4px 20px;
}

::placeholder {
    color: var(--grey);
    font-style: italic;
}

.buttonInput {
    display: grid;
    grid-template-columns: 1fr max-content;
}

.buttonInput input {
    border-radius: 15px 0px 0px 15px;
    max-width: 180px;
}

.buttonInput .button {
    background: linear-gradient(to bottom, var(--blue), var(--blue-dark));
    border-radius: 0px 15px 15px 0px;
    padding: 0;
    max-height: 30px;
}

.pager {
    display: grid;
    grid-template-columns: 30px 30px 30px;
    border: 1px solid var(--grey-light);
    border-radius: 15px;
}

.pager .button.square {
    border-radius: 0;
    height: 28px;
    min-height: initial;
}

.pager .button:first-child {
    border-radius: 15px 0px 0px 15px;
}

.pager .button:last-child {
    border-radius: 0px 15px 15px 0px;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Light.woff);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Italic.woff);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Bold.woff);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Icons;
    src: url(../fonts/Icons.woff);
}