<div class="tableWrapper">
    <table class="actionTable" data-action="settings/templates/edit/">
        <thead>
            <tr>
                <td class="maxContent">Naam</td>
                <td>Aangemaakt op</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="maxContent">Intake</td>
                <td>05/05/2020</td>
            </tr>
            <tr>
                <td class="maxContent">Multidiciplinair overleg</td>
                <td>05/05/2020</td>
            </tr>
            <tr>
                <td class="maxContent">Therapeutische sessie</td>
                <td>05/05/2020</td>
            </tr>
            <tr>
                <td class="maxContent">Intervisie</td>
                <td>05/05/2020</td>
            </tr>
            <tr>
                <td class="maxContent">Onderzoek</td>
                <td>05/05/2020</td>
            </tr>
        </tbody>
    </table>
</div>
</div>

<div class="toolbar bottom">
    <div class="left">
        <div class="pager">
            <div class="button square">
                <div class="chevron left">
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="button grey square">
                <span>1</span>
            </div>
            <div class="button square">
                <div class="chevron right">
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="center"></div>
    <div class="right">
        <select>
            <option>5</option>
            <option>15</option>
            <option>20</option>
            <option>25</option>
        </select>
    </div>
</div>