<div class="tableWrapper dropdown visible">
    <div class="title">
        <div class="chevron right">
            <span></span>
            <span></span>
        </div>
        <p>
            Algemeen
        </p>
        <div class="actions">
        </div>
    </div>

    <table>
        <tbody>
            <tr class="edit">
                <td class="maxContent input">
                    <label>Titel</label>
                    <input type="text">
                </td>
                <td class="maxContent">
                    <input type="checkbox" id="titleCheckbox">
                    <label for="titleCheckbox">Titel komt overeen met verslagtype</label>
                </td>
                <td class="description">
                    De titel die boven het verslag komt
                </td>
            </tr>
            <tr class="edit">
                <td class="maxContent input">
                    <label>Datum</label>
                    <input type="date">
                </td>
                <td class="maxContent">
                    <input type="checkbox" id="dateAutoFill">
                    <label for="dateAutoFill">Automatisch invullen</label>
                </td>
                <td class="description">
                    De datum waarop dit verslag is aangemaakt
                </td>
            </tr>
            <tr class="edit">
                <td class="maxContent input">
                    <label>Cliënt</label>
                    <select>
                        <option>Cliënt</option>
                        <option>John "Mad" Doe</option>
                    </select>
                </td>
                <td class="maxContent">
                    <input type="checkbox" id="clientAutoFill">
                    <label for="clientAutoFill">Automatisch invullen</label>
                </td>
                <td class="description">
                    De cliënt waarvoor dit verslag wordt geschreven
                </td>
            </tr>
            <tr class="edit">
                <td class="maxContent input">
                    <label>Therapeut</label>
                    <select>
                        <option>Therapeut</option>
                        <option>Alexa Johnson</option>
                    </select>
                </td>
                <td class="maxContent">
                    <input type="checkbox" id="therapistAutoFill">
                    <label for="therapistAutoFill">Automatisch invullen</label>
                </td>
                <td class="description">
                    De persoon die dit verslag schrijft
                </td>
            </tr>
        </tbody>
    </table>
    <div class="toolbar">
        <div class="left">
            <label class="button">
                Toevoegen
            </label>
        </div>
        <div class="center">
            
        </div>
        <div class="right">
            
        </div>
    </div>
</div>

<div class="toolbar inline transparent">
    <div class="left">

    </div>
    <div class="center">
        <div class="button square grey">
            <div class="plus">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <div class="right">
        
    </div>
</div>

<div class="tableWrapper dropdown">
    <div class="title">
        <div class="chevron right">
            <span></span>
            <span></span>
        </div>
        <p>
            Hulpvraag
        </p>
        <div class="actions">
            <div class="section">
                <label class="button circle grey">
                    <div class="chevron up">
                        <span></span>
                        <span></span>
                    </div>
                </label>
                <label class="button circle grey">
                    <div class="chevron">
                        <span></span>
                        <span></span>
                    </div>
                </label>
            </div>
            <div class="section">
                <label class="button circle grey">
                    <span class="icon red">
                        &#xe905;
                    </span>
                </label>
            </div>
        </div>
    </div>

    <table>
        <tbody>
            <tr class="edit">
                <td class="maxContent input">
                    <label>Hoofdvraag</label>
                    <textarea maxlength="500"></textarea>
                </td>
                <td class="maxContent">
                    <input type="checkbox" id="mainQuestionReference">
                    <label for="mainQuestionReference">Refereerbaar</label>
                </td>
                <td class="description">
                    De hoofdklacht van de cliënt in max. 500 tekens
                </td>
                <td class="maxContent actions">
                    <div class="cross">
                        <span></span>
                        <span></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="control">
                    <label class="button">
                        Toevoegen
                    </label>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="toolbar inline transparent">
    <div class="left">

    </div>
    <div class="center">
        <div class="button square grey">
            <div class="plus">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <div class="right">
        
    </div>
</div>