<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>MindScribr</title>
    <!-- https://electronjs.org/docs/tutorial/security#csp-meta-tag -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />

    <link rel="stylesheet" type="text/css" href="../css/main.css">

    
  </head>
  <body>
    <header>
      <nav>
        <img src="../../icon.svg" class="logo">
        <div class="tabbar">
          <a href="#" class="current">Cliënten</a>
          <a href="#">Therapeuten</a>
          <a href="#">Instellingen</a>
        </div>
        <div class="userMenu">
          Laurens
          <div class="avatar" style="background-image: url(../../)"></div>
        </div>
      </nav>
      <div class="toolbar">
        <div class="left">

        </div>
        <div class="center">

        </div>
        <div class="right">

        </div>
      </div>
    </header>

    <main>
      <div class="toolbar bottom">
        <div class="left">

        </div>
        <div class="right">

        </div>
      </div>
    </main>

    <script>
      require('../js/app.js')
    </script>
  </body>
</html>