<div class="tableWrapper">
    <table>
      <thead>
        <tr>
          <td>Naam</td>
          <td>Functie</td>
          <td>Accounttype</td>
          <td>Geboortedatum</td>
          <td>Laatst actief</td>
          <td>Datum indienstreding</td>
          <td>Werkdagen</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Alexa Johnson</td>
          <td>Psycholoog</td>
          <td>Administrator</td>
          <td>01/03/1995</td>
          <td>2 minuten geleden</td>
          <td>05/07/2019</td>
          <td>mo,do,vr</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="toolbar bottom">
  <div class="left">
    <div class="pager">
      <div class="button square">
        <div class="chevron left">
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="button grey square">
        <span>1</span>
      </div>
      <div class="button square">
        <div class="chevron right">
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </div>
  <div class="center"></div>
  <div class="right">
    <select>
      <option>5</option>
      <option>15</option>
      <option>20</option>
      <option>25</option>
    </select>
  </div>