<div class="left">
    <div class="switch">
      <a href="#" class="current">Alle</a>
      <a href="#">Actief</a>
    </div>

    <select>
      <option value="default">Functie</option>
      <option>Psycholoog</option>
      <option>Psychiater</option>
      <option>GZ Psycholoog</option>
    </select>
  </div>
  <div class="center">
    <div class="buttonInput">
      <input type="text" placeholder="Zoek therapeuten">
      <div class="button circle">
        <span class="icon">&#xe900;</span>
      </div>
    </div>
  </div>
  <div class="right">
    <select>
      <option value="default">Therapeut</option>
      <option>Toevoegen</option>
      <option>Aanpassen</option>
      <option>Verwijderen</option>
    </select>
  </div>