<div class="left">
    <div class="switch">
      <a href="#" class="current">Alle</a>
      <a href="#">Actief</a>
    </div>

    <select>
      <option value="default">Functie</option>
      <option>Psycholoog</option>
      <option>Psychiater</option>
      <option>GZ Psycholoog</option>
    </select>
  </div>
  <div class="center">
    <div class="buttonInput">
      <input type="text" placeholder="Zoek therapeuten">
      <div class="button circle">
        <span class="icon">&#xe900;</span>
      </div>
    </div>
  </div>
  <div class="right">
    <section class="actionGroup hidden" data-for="therapists-list">
      <label class="icon button grey square" data-action="open-modal" data-modalname="delete-therapist" title="Therapeut(en) verwijderen">
        <span class="icon">
          &#xe905;
        </span>
      </label>
    </section>
  
    <section class="actionGroup">
      <label class="button grey square" data-action="open-window" data-windowname="add-therapist" title="Therapeut toevoegen">
        <span class="icon">
          &#xe90b;
        </span>
      </label>
  
      <label class="button grey square" data-action="select-all" data-context="therapists-list", data-contexttype="table" title="Alles selecteren">
        <span class="icon">
          &#xe90a;
        </span>
      </label>
    </section>
  </div>