<div class="mainInfoBlocks">
    <div class="block">
        <h1 id="client-info-name">
        </h1>
    </div>

    <div class="block wide">
        <div class="info">
            <h2 id="client-info-sessions"></h2>
            <h3>
                Sessie
            </h3>
        </div>

        <div class="info">
            <h2 id="therapy-info-code"></h2>
            <h3 id="therapy-info-title">
            </h3>
        </div>

        <div class="info">
            <span class="icon">&#xe906;</span>
            <h3 id="therapy-info-status">
            </h3>
        </div>

        <div class="info">
            <span class="icon">&#xe907;</span>
            <h3 id="therapy-info-diagnosis">
            </h3>
        </div>
    </div>

    <div class="block">
        <a class="info" id="contact-info-mail" href="#">
            <span class="icon">&#xe911;</span>
            <h3>
                Mail
            </h3>
        </a>

        <a class="info" href="#">
            <span class="icon">&#xe912;</span>
            <h3>
                Phone
            </h3>
        </a>
    </div>
</div>

<div class="tableWrapper dropdown visible" id="notification-list-wrapper">
    <div class="title">
        <div class="chevron">
            <span></span>
            <span></span>
        </div>
        <p id="notification-list-title">
            Meldingen
        </p>
        <div class="actions">
        </div>
    </div>

    <table>
        <tbody id="notification-list">
        </tbody>
    </table>
</div>

<div class="tableWrapper dropdown orange visible" id="task-list-wrapper">
    <div class="title ">
        <div class="chevron">
            <span></span>
            <span></span>
        </div>
        <p id="task-list-title">
            Taken
        </p>
        <div class="actions">
        </div>
    </div>

    <table>
        <tbody id="task-list">
        </tbody>
    </table>
</div>

<div class="tableWrapper dropdown">
    <div class="title">
        <div class="chevron right">
            <span></span>
            <span></span>
        </div>
        <p id="therapist-list-title">
            Toegewezen aan
        </p>
        <div class="actions">
            <a class="button grey">
                Toevoegen
            </a>
        </div>
    </div>

    <table>
        <tbody id="therapist-list">
        </tbody>
    </table>
</div>

<script>
    var clients = require('../js/clients.js')

    clients.main(window.actionData.parameters.id)
</script>