<div class="mainInfoBlocks">
    <div class="block">
        <h1 id="client-info-name">
            John "Mad" Doe
        </h1>
    </div>

    <div class="block wide">
        <div class="info">
            <h2 id="client-info-sessions">05 / 75</h2>
            <h3>
                Sessie
            </h3>
        </div>

        <div class="info">
            <h2 id="therapy-info-code">108.302</h2>
            <h3 id="therapy-info-title">
                Basis | Intensief
            </h3>
        </div>

        <div class="info">
            <span class="icon">&#xe906;</span>
            <h3 id="therapy-info-status">
                In Behandeling
            </h3>
        </div>

        <div class="info">
            <span class="icon">&#xe907;</span>
            <h3 id="therapy-info-diagnosis">
                PTSS
            </h3>
        </div>
    </div>

    <div class="block">
        <a class="info" id="contact-info-mail">
            <span class="icon">&#xe911;</span>
            <h3>
                Mail
            </h3>
        </a>

        <a class="info">
            <span class="icon">&#xe912;</span>
            <h3>
                Phone
            </h3>
        </a>
    </div>
</div>

<div class="tableWrapper dropdown visible">
    <div class="title">
        <div class="chevron">
            <span></span>
            <span></span>
        </div>
        <p>
            Meldingen (1)
        </p>
        <div class="actions">
        </div>
    </div>

    <table>
        <tbody>
            <tr>
                <td class="maxContent">05/07/2020</td>
                <td>Afspraak geannuleerd.</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="tableWrapper dropdown orange visible">
    <div class="title ">
        <div class="chevron">
            <span></span>
            <span></span>
        </div>
        <p>
            To-Do (1)
        </p>
        <div class="actions">
        </div>
    </div>

    <table>
        <tbody>
            <tr>
                <td class="maxContent">05/07/2020</td>
                <td>Mail sturen i.v.m. afspraak komende woensdag.</td>
                <td class="maxContent">
                    <label class="cross">
                        <span></span>
                        <span></span>
                    </label>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="tableWrapper dropdown">
    <div class="title">
        <div class="chevron right">
            <span></span>
            <span></span>
        </div>
        <p>
            Toegewezen aan (3)
        </p>
        <div class="actions">
            <a class="button grey">
                Toevoegen
            </a>
        </div>
    </div>

    <table>
        <tbody>
            <tr>
                <td class="maxContent">Dave</td>
                <td>Hoofdbehandelaar</td>
                <td class="maxContent">
                    <label class="cross">
                        <span></span>
                        <span></span>
                    </label>
                </td>
            </tr>
            <tr>
                <td class="maxContent">Bill</td>
                <td>Psycholoog</td>
                <td class="maxContent">
                    <label class="cross">
                        <span></span>
                        <span></span>
                    </label>
                </td>
            </tr>
            <tr>
                <td class="maxContent">Alex</td>
                <td>Psychiater</td>
                <td class="maxContent">
                    <label class="cross">
                        <span></span>
                        <span></span>
                    </label>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    var clients = require('../js/clients.js')

    clients.main(window.actionData.parameters.id)
</script>