<div class="left">
    <a href="clients/" class="sectionNavButton" id="clientBackButton">
        <div class="button square">
            <div class="chevron left">
                <span></span>
                <span></span>
            </div>
        </div>
        <label>
        </label>
    </a>
</div>
<div class="center">
    <div class="switch subSectionNav">
        <a href="clients/main/">Algemeen</a>
        <a href="clients/documents/">Documenten</a>
        <a href="clients/reports/">Verslagen</a>
        <a href="clients/data/">Gegevens</a>
    </div>
</div>
<div class="right">

</div>