<div class="tableWrapper dropdown visible">
    <div class="title">
        <div class="chevron">
            <span></span>
            <span></span>
        </div>
        <p>
            Algemeen
        </p>
        <div class="actions">
            <label class="button grey" data-action="edit">
                Bewerken
            </label>
        </div>
    </div>

    <table>
        <tbody id="therapist-personal-data">
        </tbody>
    </table>
</div>

<div class="tableWrapper dropdown">
    <div class="title">
        <div class="chevron right">
            <span></span>
            <span></span>
        </div>
        <p>
            Werkstatus
        </p>
        <div class="actions">
            <label class="button grey" data-action="edit">
                Bewerken
            </label>
        </div>
    </div>

    <table>
        <tbody id="therapist-employment-data">
        </tbody>
    </table>
</div>

<div class="tableWrapper dropdown">
    <div class="title">
        <div class="chevron right">
            <span></span>
            <span></span>
        </div>
        <p>
            Account
        </p>
        <div class="actions">
            <label class="button grey" data-action="edit">
                Bewerken
            </label>
        </div>
    </div>

    <table>
        <tbody id="therapist-account-data">
        </tbody>
    </table>
</div>

<div class="tableWrapper dropdown">
    <div class="title">
        <div class="chevron right">
            <span></span>
            <span></span>
        </div>
        <p>
            Contact
        </p>
        <div class="actions">
            <label class="button grey" data-action="edit">
                Bewerken
            </label>
        </div>
    </div>

    <table>
        <tbody id="therapist-contact-data">
        </tbody>
    </table>
</div>

<script>
    var therapists = require('../js/therapists.js')

    therapists.data(window.actionData.parameters.therapist)
</script>