<div class="tableWrapper">
    <table class="dataTable" data-action="clients/main/">
      <thead>
        <tr>
          <td>Dossier</td>
          <td>Initialen</td>
          <td>Naam</td>
          <td>Geboortedatum</td>
          <td>Woonplaats</td>
          <td>E-mailadres</td>
          <td>Telefoonnummer</td>
          <td>Status</td>
          <Td>Meldingen</Td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>D-123.456.789</td>
          <td>J.D.</td>
          <td>John "Mad" Doe</td>
          <td>05/07/1987</td>
          <td>Zwijndrecht</td>
          <td>j.doe@internet.usa</td>
          <td>(+31) 6 22 85 48 00</td>
          <td>In behandeling</td>
          <td>-</td>
        </tr>
        <tr>
          <td>D-123.456.789</td>
          <td>J.D.</td>
          <td>John "Mad" Doe</td>
          <td>05/07/1987</td>
          <td>Zwijndrecht</td>
          <td>j.doe@internet.usa</td>
          <td>(+31) 6 22 85 48 00</td>
          <td>In behandeling</td>
          <td>-</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="toolbar bottom">
  <div class="left">
    <div class="pager">
      <div class="button square">
        <div class="chevron left">
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="button grey square">
        <span>1</span>
      </div>
      <div class="button square">
        <div class="chevron right">
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </div>
  <div class="center"></div>
  <div class="right">
    <select>
      <option>5</option>
      <option>15</option>
      <option>20</option>
      <option>25</option>
    </select>
  </div>