<div class="tableWrapper">
  <table class="actionTable" data-action="clients/main/">
    <thead>
      <tr>
        <td>Dossier</td>
        <td>Initialen</td>
        <td>Naam</td>
        <td>Geboortedatum</td>
        <td>Woonplaats</td>
        <td>E-mailadres</td>
        <td>Telefoonnummer</td>
        <td>Status</td>
        <td>Meldingen</td>
      </tr>
    </thead>
    <tbody id="clients-table">

    </tbody>
  </table>
</div>
</div>

<div class="toolbar bottom">
  <div class="left">
    <div class="pager">
      <div class="button square">
        <div class="chevron left">
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="button grey square">
        <span>1</span>
      </div>
      <div class="button square">
        <div class="chevron right">
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </div>
  <div class="center"></div>
  <div class="right">
    <select>
      <option>5</option>
      <option>15</option>
      <option>20</option>
      <option>25</option>
    </select>
  </div>
</div>

<div class="window" data-name="add-client">
  <div class="title">
    <div class="left">

    </div>
    <div class="center">
      <h3>
        Client toevoegen
      </h3>
    </div>
    <div class="right">
      <div class="button grey circle" data-action="close-window" data-windowname="add-client">
        <div class="cross">
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </div>

  <div class="body">
    <form id="addClientForm">
      <div class="inputGroup">
        <div class="input">
          <label>Voornaam</label>
          <input type="text" name="firstName" required>
        </div>
        <div class="input">
          <label>Achternaam</label>
          <input type="text" name="lastName" required>
        </div>
        <div class="input">
          <label>Geboortedatum</label>
          <input type="date" name="dateOfBirth" required>
        </div>
      </div>
      <div class="inputGroup">
        <div class="input">
          <label>Straat en huisnummer</label>
          <input type="text" name="street" required>
        </div>
        <div class="input">
          <label>Postcode</label>
          <input type="text" name="postalCode" required>
        </div>
        <div class="input">
          <label>Woonplaats</label>
          <input type="text" name="city" required>
        </div>
        <div class="input">
          <label>E-mailadres</label>
          <input type="text" name="email" required>
        </div>
        <div class="input">
          <label>Telefoonnummer</label>
          <input type="tel" name="phone" required>
        </div>
      </div>

      <input type="submit" class="hidden" id="submitAddClientForm">
    </form>
  </div>

  <div class="footer">
    <div class="left">
      <label class="button grey" data-action="close-window" data-windowname="add-client">
        Annuleren
      </label>
    </div>
    <div class="center">
      
    </div>
    <div class="right">
      <label class="button blue" data-windowname="add-client" for="submitAddClientForm">
        Toevoegen
      </label>
    </div>
  </div>
</div>

<script>
  var clients = require('../js/clients.js')

  clients.list()
</script>