<div class="left">
    <div class="switch">
      <a href="#" class="current">Alle</a>
      <a href="#">In behandeling</a>
      <a href="#">Mijn cliënten</a>
    </div>
  </div>
  <div class="center">
    <div class="buttonInput">
      <input type="text" placeholder="Zoek cliënten">
      <div class="button circle">
        <span class="icon">&#xe900;</span>
      </div>
    </div>
  </div>
  <div class="right">
    <select>
      <option value="default">Client</option>
      <option>Toevoegen</option>
      <option>Aanpassen</option>
      <option>Verwijderen</option>
    </select>
  </div>