<div class="left">
  <div class="switch">
    <a href="#" class="current">Alle</a>
    <a href="#">In behandeling</a>
    <a href="#">Mijn cliënten</a>
  </div>
</div>
<div class="center">
  <div class="buttonInput">
    <input type="text" placeholder="Zoek cliënten">
    <div class="button circle">
      <span class="icon">&#xe900;</span>
    </div>
  </div>
</div>
<div class="right">
  <section class="actionGroup hidden" data-for="clients-table">
    <label class="icon button grey square" data-action="open-modal" data-modalname="delete-client" title="Cliënt(en) verwijderen">
      <span class="icon">
        &#xe905;
      </span>
    </label>

    <label class="button grey square">
      <span class="icon">
        &#xe90a;
      </span>
    </label>
  </section>

  <section class="actionGroup">
    <label class="button grey square" data-action="open-window" data-windowname="add-client" title="Cliënt toevoegen">
      <span class="icon">
        &#xe90b;
      </span>
    </label>
  </section>
</div>
