<table class="menuTable">
  <thead>
    <tr>
      <td colspan="2">
        <span class="icon">
          &#xe903;
        </span>
        Verslaglegging
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Sjablonen</td>
      <td>Ontwerp de layout van uw verslagen en koppel verschillende datatypen</td>
    </tr>
    <tr>
      <td>Diagnose Codes</td>
      <td>Beheer verschillende diagnose bibliotheken of voeg aangepaste diagnosecodes toe </td>
    </tr>
    <tr>
      <td>Huisartsen</td>
      <td>Beheer al geregistreerde huisartsen of voeg nieuwe huisartsen toe</td>
    </tr>
  </tbody>
</table>

<table class="menuTable">
  <thead>
    <tr>
      <td colspan="2">
        <span class="icon">
          &#xe902;
        </span>
        Account
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Wachtwoord</td>
      <td>Pas uw persoonlijke wachtwoord aan</td>
    </tr>
    <tr>
      <td>Betalingen</td>
      <td>Beheer en betaal facturen van servicekosten van deze app</td>
    </tr>
  </tbody>
</table>
</div>

<table class="menuTable">
  <thead>
    <tr>
      <td colspan="2">
        <span class="icon">
          &#xe904;
        </span>
        Vormgeving
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Logo</td>
      <td>Voeg u eigen logo toe aan de applicatie</td>
    </tr>
    <tr>
      <td>Kleuren</td>
      <td>Laat de hoofdkleur van de applicatie overeenkomen met die van uw organisatie</td>
    </tr>
  </tbody>
</table>

<table class="menuTable">
  <thead>
    <tr>
      <td colspan="2">
        <span class="icon">
          &#xe901;
        </span>
        Overig
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Over deze app</td>
      <td>Informatie over uw privacy, disclaimers en makers van deze app</td>
    </tr>
    <tr>
      <td>Contact</td>
      <td>Neem contact op met de makers van deze app</td>
    </tr>
  </tbody>
</table>