<div class="mainInfoBlocks">
    <div class="block profileBlock">
        <div class="avatar" style="background-image: url('../../users/Alexa Johnson/profile.png')"></div>
        <h1>
            Alexa Johnson
        </h1>
    </div>

    <div class="block wide">
        <div class="info">
            <h2>GZ</h2>
            <h3>
                Psycholoog
            </h3>
        </div>

        <div class="info">
            <span class="icon">&#xe904;</span>
            <h3>
                22 / 08 / 1987
            </h3>
        </div>

        <div class="info">
            <span class="icon">&#xe902;</span>
            <h3>
                Standaard
            </h3>
        </div>
    </div>

    <div class="block">
        <div class="info">
            <span class="icon">&#xe911;</span>
            <h3>
                Mail
            </h3>
        </div>

        <div class="info">
            <span class="icon">&#xe912;</span>
            <h3>
                Phone
            </h3>
        </div>
    </div>
</div>

<div class="tableWrapper dropdown">
    <div class="title">
        <div class="chevron right">
            <span></span>
            <span></span>
        </div>
        <p>
            Cliënten
        </p>
        <div class="actions">
            <p class="typeNumbers">
                <span title="Aankomend">2</span>
                <span title="In behandeling" class="blue">3</span>
                <span title="Aandacht vereist" class="red">1</span>
                <span title="Uitbehandeld" class="green">5</span>
            </p>
        </div>
    </div>

    <table class="actionTable" data-action='clients/main/'>
        <thead>
            <tr>
                <td>Dossier</td>
                <td>Initialen</td>
                <td>Naam</td>
                <td>Geboortedatum</td>
                <td>Woonplaats</td>
                <td>E-mailadres</td>
                <td>Telefoonnummer</td>
                <td>Status</td>
                <Td>Meldingen</Td>
              </tr>
        </thead>
        <tbody>
            <tr>
                <td>D-123.456.789</td>
                <td>J.D.</td>
                <td>John "Mad" Doe</td>
                <td>05/07/1987</td>
                <td>Zwijndrecht</td>
                <td>j.doe@internet.usa</td>
                <td>(+31) 6 22 85 48 00</td>
                <td>In behandeling</td>
                <td>-</td>
              </tr>
              <tr>
                <td>D-123.456.789</td>
                <td>J.D.</td>
                <td>John "Mad" Doe</td>
                <td>05/07/1987</td>
                <td>Zwijndrecht</td>
                <td>j.doe@internet.usa</td>
                <td>(+31) 6 22 85 48 00</td>
                <td>In behandeling</td>
                <td>-</td>
              </tr>
              <tr>
                <td>D-123.456.789</td>
                <td>J.D.</td>
                <td>John "Mad" Doe</td>
                <td>05/07/1987</td>
                <td>Zwijndrecht</td>
                <td>j.doe@internet.usa</td>
                <td>(+31) 6 22 85 48 00</td>
                <td>In behandeling</td>
                <td>-</td>
              </tr>
        </tbody>
    </table>
</div>

<div class="tableWrapper dropdown visible">
    <div class="title">
        <div class="chevron right">
            <span></span>
            <span></span>
        </div>
        <p>
            Recente activiteit
        </p>
        <div class="actions">
        </div>
    </div>

    <table>
        <tbody>
            <tr>
                <td class="maxContent">05/07/2020</td>
                <td>Mail gestuurd.</td>
                <td class="maxContent">
                    <label class="cross">
                        <span></span>
                        <span></span>
                    </label>
                </td>
            </tr>
        </tbody>
    </table>
</div>

