<div class="left">
    <a href="therapists/" class="sectionNavButton">
        <div class="button square">
            <div class="chevron left">
                <span></span>
                <span></span>
            </div>
        </div>
        <label>
            Alexa Johnson
        </label>
    </a>
</div>
<div class="center">
    <div class="switch subSectionNav">
        <a href="therapists/main/">Algemeen</a>
        <a href="therapists/data/">Gegevens</a>
    </div>
</div>
<div class="right">

</div>